# Lets Start the String Method

In [1]:
name = 'Sam Is Here' #Creating String Variable

In [2]:
name.upper() # Here it converts All Characters to Upper Case

'SAM IS HERE'

In [3]:
name.lower() #Here it Converts all to Lower

'sam is here'

In [5]:
book = 'they are total seven pens in basked three are red pens and four are blue pens '

In [6]:
book.capitalize() #First Alphabet will be Capitalized

'They are total seven pens in basked three are red pens and four are blue pens '

In [7]:
book.title() #Title Format Where All the First Character in Word are Capital

'They Are Total Seven Pens In Basked Three Are Red Pens And Four Are Blue Pens '

In [9]:
book.count('pens') #This String Method Counts non-overlapping occurrences of substring

3

In [14]:
book.find('red') #It Finds and Shows the Index Postion of the Word

46

In [15]:
book.islower() #Checks If String Variable is Lower or Not

True

In [16]:
book.isnumeric() #Checks if String Variable is Numeric Or Not

False

In [17]:
book.replace("red","green" ) #Replaces the Specifized String

'they are total seven pens in basked three are green pens and four are blue pens '

In [18]:
book.split() #Return a list of the words in the string, using sep as the delimiter string.

['they',
 'are',
 'total',
 'seven',
 'pens',
 'in',
 'basked',
 'three',
 'are',
 'red',
 'pens',
 'and',
 'four',
 'are',
 'blue',
 'pens']